
<html>
<head>
   <title>Anurag_Tekale</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="static/css/main.css">
   <script src="static/js/myscript.js"></script>
<body>

<!--Start Header-->
<header>
  <div class="container">
    <div class="row">
     <div class="brand-name">
        <a href="" class="logo">Anurag</a>
     </div>
     <div class="anurag">
        <i class="fa fa-bars"></i>
     </div>
     <div class="navbar">
       <ul>
         <li><a href="#Home" class="active">Home</a></li>
         <li><a href="#About">About</a></li>
         <li><a href="#Hobbies">Hobbies</a></li>
         <li><a href="#Contact">Contact</a></li>
       </ul>
     </div>
    </div>
  </div>
</header>
<!--End Header-->

<!--Start Home-->
   <section class="home">
     <div class="container">
       <div class="row full-screen">
          <div class="home-content">
            <div class="block">
             <h6>Hello, My Name is</h6>
             <h1>Anurag Tekale</h1>
             <h3>UnderGraduate Student</h3>
             <div class="cv-btn">
               <a href="">Download CV</a> 
             </div>  
            </div>
          </div>
       </div>
     </div>
<!--End Home-->

<!--Start About-->
<section class="about-me" id="About">
  <div class="container">
    <div class="row">
       <div class="section-title">
         <h1>About Me</h1>
         <p class="small text-uppercase">Information About me</p>
      </div>
    </div>  
    <div class="row">
      <div class="about-content">
         <div class="row">
        <div class="img">
          <img src="static/images/about-me.jfif" alt="about-me" />
      </div>
      <div class="text">
         <h4>I'm Anurag Tekale</h4>
         <h6>I'm a junior-year Undergraduate student pursuing my bTech in Mechanical Engineering at <a href="https://www.mahindraecolecentrale.edu.in/">Mahindra Ecole Centrale</a></h6>
         <p>I love programming.though I have interest in Aviation.I love to listen music and I love to spend time alone.</p>
          <div class="info"> 
            <div class="list">
               <label>Birthday:</label>
               <p>06th Feb 2002</p>
            </div>
            <div class="list">
              <label>Email:</label>
              <p>anuragtekale300@gmail.com</p>
            </div>
            <div class="list">  
              <label>Age:</label>
              <p>18 Years</p>
            </div>
            <div class="list">
              <label>Phone:</label>
              <p>+91 8688287516</p>
            </div>
            <div class="list">  
              <label>Residence:</label>
              <p>INDIA</p>
            </div>
            <div class="list">  
              <label>InstaGram:</label>
              <p>anurag__tekale</p>
            </div>
            <div class="list">  
              <label>Address:</label>
              <p>Siri Residency,Tarnaka,Hyderabad</p>
            </div>
            <div class="list">  
             <label>College:<label>
             <p>Mahindra Ecole Centrale</p>
            </div> 
           </div>
           <!--Social Links-->
            <div class="social-links">
              <a href="https://www.facebook.com/anurag.tekale.7"><i class="fa fa-facebook"></i></a>
              <a href="https://twitter.com/uyXKnIHwfBbb3kf?s=08"><i class="fa fa-twitter"></i></a>
              <a href="https://www.instagram.com/anurag__tekale/"><i class="fa fa-instagram"></i></a>
              <a href="https://github.com/anurag-tekale"><i class="fa fa-github"></i></a>
            </div>  
      </div>
     </div> 
  </div>
</section>  
<!--End About-->

<!--Start Services-->
<section class="services" id="Hobbies">
   <div class="container">
      <div class="row">
         <div class="section-title text-center">
         <h1>My Hobbies</h1>
      </div>
    </div>
     <div class="row">
       <div class="service-content">
        
         <div class="box">
           <div class="icon">
            <i class="fa fa-laptop"></i>
           </div>
           <h5>Programming</h5>
           <p>Just like architecture, which is an art used by people daily and affects their everyday life, so is code.
            You can create something and people interact with, use, touch and work with. That is an amazing feeling.</p>
          </div>
          <div class="box">
            <div class="icon">
              <i class="fa fa-music"></i>
            </div>
           <h5>Music</h5>
           <p>Music is like a dream.
            “Music gives a soul to the universe, wings to the mind, flight to the imagination and life to everything.”</p>
          </div>
          <div class="box">
           <div class="icon">
             <i class="fa fa-gamepad"></i>
           </div>
           <h5>Gaming</h5>
           <p>A big reason why I love video games so much, I feel, is because they are an escape from our sometimes boring and monotonous lives. ... 
           The feeling you get when you complete a good game is a feeling that's hard to compete with.</p>
          </div>
          <div class="box">
           <div class="icon">
             <i class="fa fa-space-shuttle"></i>
           </div>
           <h5>Aviation</h5>
           <p>My GrandFather was interested in Aviation.I can't explain why,I wanted to know everything about aviation
           If I go and see a B747 during landing or take-off, this gives me a kick.Aviation is sooo beautiful</p>
          </div>
          <div class="box">
           <div class="icon">
             <i class="fa fa-photo"></i>
           </div>
           <h5>PhotoEditing</h5>
           <p>If you need help editing your pictures, please do not hesitate to get in touch with me. I would love the opportunity to work with you!</p>
          </div>
      </div>
    </div>    
</section>
<!--End Services-->
<!--Message work-->
  <section class="message-text">
    <div class="container">
      <div class="row align-items-center">
         <div class="text">
           <h2>I'm learning everything now..Even though will be happy to help you...</h2>
         </div>
           <div class="button">
             <a href="">Get In Touch</a>
           </div>
      </div>
    </div>
  </section> 
<!--End Message work-->

<!--Start Skills-->
  <section class="skills">
    <div class="container">
      <div class="row align-items center">
        <div class="skills-content">
         <div class="row">
           <div class="section-title">
             <h1>Professional Skills</h1>
             <p>No matter which field you are in, a basic knowledge of coding is essential.
              The simple reason being that we are interacting with softwares at every instance.</p>
           </div>
         </div>
         <div class="row">
           <div class="skill-box">
             <h6>HTML5</h6>
             <div class="skill-bar">
               <div class="skill-bar-in" style="width:90%">
                <span>90%</span>
                </div>
             </div>
            </div>
            <div class="skill-box">
             <h6>CSS</h6>
             <div class="skill-bar">
               <div class="skill-bar-in" style="width:70%">
                <span>70%</span>
                </div>
             </div>
            </div>
            <div class="skill-box">
             <h6>C</h6>
             <div class="skill-bar">
               <div class="skill-bar-in" style="width:70%">
                <span>70%</span>
                </div>
             </div>
            </div>
            <div class="skill-box">
             <h6>Python</h6>
             <div class="skill-bar">
               <div class="skill-bar-in" style="width:25%">
                <span>25%</span>
                </div>
             </div>
            </div>
            <div class="skill-box">
             <h6>Matlab</h6>
             <div class="skill-bar">
               <div class="skill-bar-in" style="width:40%">
                <span>40%</span>
                </div>
             </div>
            </div>
          </div>
        </div>
         <div class="img">
           <img src="static/images/skill.jpg" alt="skill" />
         </div> 
      </div>
    </div>
  </section>
<!--End Skills-->

<!--Start Contact-->
  <section class="contact-me" id="Contact">
    <div class="container">
      <div class="row">
        <div class="section-title text-center">
          <h1>Get In touch</h1>
        </div>
      </div>
       <div class="row">
         <div class="contact-form">
          <div class="row">
           <div class="text">
             <h2>Suggestions Here Please !</h2>
             <p>Ask me any question you want to..</p>
           </div>
          </div>
           <div class="row space-between">
             <div class="col-6">
               <input type="text" class="form-control" name="" placeholder="Name">
             </div>
               <div class="col-6">
                <input type="text" class="form-control" name="" placeholder="Email">
           </div>
          </div>
           <div class="row">
             <div class="col-12">
              <textarea class="form-control" placeholder="Your Comment"></textarea>
             </div>
           </div>
            <div class="row">
              <div class="button text-right">
                <a href="https://forms.gle/ZLa1j3ZHuzxphxdE9">Get In Touch</a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>
<!--End Contact-->

<!--Start Footer-->
  <footer>
    <div class="container">
      <div class="row">
        <div class="logo">
           AnuragTekale
        </div>
        <div class="social">
            <a href="https://www.facebook.com/anurag.tekale.7"><i class="fa fa-facebook"></i></a>
            <a href="https://github.com/anurag-tekale"><i class="fa fa-github"></i></a>
            <a href="https://www.instagram.com/anurag__tekale/"><i class="fa fa-instagram"></i></a>
            <a href=""><i class="fa fa-linkedin"></i></a>
            <a href="https://twitter.com/uyXKnIHwfBbb3kf?s=08"><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-pinterest"></i></a>
        </div>
      </div>
    </div>
  </footer>
<!--End Footer-->

